<nav class="nav">
    <h5><a class="nav-link active" href="#">Final Project</a></h5>
    <a class="nav-link" href="/ram">Rick and Morty</a>
    <a class="nav-link" href="/BB">Breaking Bad</a>
    <a class="nav-link" href="#" >TBD</a>
  </nav>

  