<!doctype html>
<html lang="en">
  <head>
    <title>Final Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="contain" style="position: relative; text-align: center; color: white;">
        <img src="sky1.jpg" class="img-fluid" style="width:100%; margin-bottom: 20px;">
        <div class="centered" style=" font-family: 'Courier Prime', monospace;font-size: 73px; position:absolute; top:50%; left: 50%; transform: translate(-50%, -70%); ">My Final Project</div>
      </div>
      

      <div class="card-deck">
        <div class="card">
          <img src="ram3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rick and Morty</h5>
            <p class="card-text">See all the data of your favorite Rick and Morty characters here!</p>
            <button style="border-radius:5px; "><a style="color:blue;"href="/ram">Click Here!</a></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="harry.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Harry Potter Houses</h5>
            <p class="card-text">Find out more of the Harry Potter Houses now!</p>
            <button style="border-radius:5px; "><a style="color:blue;"href="/HP">Click Here!</a></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="bb2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Breaking Bad</h5>
            <p class="card-text">Learn more about your favorite characters from Breaking Bad here!</p>
            <button style="border-radius:5px; "><a style="color:blue;" href="/BB">Click Here!</a></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">Anthony Arias
        </div>
    </footer>
  </body>
</html>